# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
spring-mvc.iml
.idea
.idea/artifacts/
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/sonarIssues.xml
.idea/workspace.xml
